<div class="header">
  <button (click)="fetchAll()" class="btn btn-primary">All</button>
  <div class="search-group">
    <label for="searchId">Get by ID:</label>
    <input type="text" id="searchId" [(ngModel)]="searchId" class="form-control" />
    <button (click)="fetchById()" class="btn btn-primary">Search</button>
  </div>
  <div class="search-group">
    <label for="searchIsin">Get by ISIN:</label>
    <input type="text" id="searchIsin" [(ngModel)]="searchIsin" class="form-control" />
    <button (click)="fetchByIsin()" class="btn btn-primary">Search</button>
  </div>
</div>
<div class="main">
  <app-company-card
    *ngFor="let company of companies"
    [company]="company"
  ></app-company-card>
</div>