<form
  (ngSubmit)="onSubmit()"
  #companyForm="ngForm"
  class="company-detail-form"
  id="form-detail"
>
  <div class="form-group" *ngFor="let field of fields">
    <label [for]="field">{{ field | titlecase }}:</label>
    <input
      type="text"
      [id]="field"
      [(ngModel)]="company[field]"
      name="{{ field }}"
      class="form-control"
      [attr.maxLength]="getMaxLength(field)"
      required
      (input)="checkForChanges()"
      #control="ngModel"
    />
    <div *ngIf="control.invalid && control.dirty">
      <small class="error" *ngIf="control.errors?.['required']">
        {{ field | titlecase }} is required
      </small>
      <small class="error" *ngIf="control.errors?.['maxlength']">
        {{ field | titlecase }} cannot exceed
        {{ getMaxLength(field) }} characters
      </small>
    </div>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="companyForm.invalid || !hasChanges"
    >
      Update
    </button>
    <button class="btn btn-danger" (click)="goBack()" style="margin-top: 10px">
      Back
    </button>
  </div>
</form>
